@{
    ViewBag.Title = "About";
}
<h2>Qui sommes nous ? </h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget nunc lobortis mattis aliquam faucibus. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Semper auctor neque vitae tempus quam. Sit amet mauris commodo quis imperdiet massa tincidunt nunc. Sed velit dignissim sodales ut. Vestibulum rhoncus est pellentesque elit. Aliquet risus feugiat in ante metus dictum at. Odio facilisis mauris sit amet massa vitae tortor. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit duis. Volutpat odio facilisis mauris sit amet massa. In cursus turpis massa tincidunt. Ridiculus mus mauris vitae ultricies leo integer malesuada nunc.

    At varius vel pharetra vel turpis nunc. Ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Sed pulvinar proin gravida hendrerit lectus a. Vitae turpis massa sed elementum tempus egestas sed sed. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Quam id leo in vitae turpis massa sed elementum. Duis at tellus at urna condimentum mattis pellentesque. Adipiscing commodo elit at imperdiet dui accumsan. At in tellus integer feugiat scelerisque varius morbi enim. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Dolor sit amet consectetur adipiscing elit ut aliquam. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Facilisi nullam vehicula ipsum a. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et.
</p>
