@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
<address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26596.345057045837!2d-7.656882830142246!3d33.56524472717095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d3d293859a45%3A0x4425b962baaf9a7b!2sEMSI%20%C3%89cole%20marocaine%20des%20sciences%20de%20l&#39;ing%C3%A9nieur%20(EMSI%20ROUDANI)!5e0!3m2!1sen!2sma!4v1642722288570!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</address>
<address>
    <strong>Support:</strong>   <a href="admin@carrent.com">admin@carrent.com</a><br />
    
</address>