


@model IEnumerable<CarRentByYassirRchi.Models.Voitures>
@{
    ViewBag.Title = "Index";
}




<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/Voitures/@Url.Content(item.Dispo)" height="40%" width="100%">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Marque) @Html.DisplayFor(modelItem => item.Serie)</h3>
                    <p>Carburant : @Html.DisplayFor(modelItem => item.Carburant)</p>
                    <p>Prix  : @Html.DisplayFor(modelItem => item.PrixJ)</p>
                    <div>
                        
                        <a href="https://localhost:44391/Clients/Login"  class="btn btn-success">Reserver</a> 
                    </div>

                </div>
            </div>
        </div>

    }
</div>